[submodule "crates/strategies/uni-tri-arb/lib/forge-std"]
	path = crates/strategies/uni-tri-arb/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "crates/strategies/uni-tri-arb/contracts/lib/forge-std"]
	path = crates/strategies/uni-tri-arb/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "crates/strategies/uni-tri-arb/contracts/lib/v2-core"]
	path = crates/strategies/uni-tri-arb/contracts/lib/v2-core
	url = https://github.com/Uniswap/v2-core.git
[submodule "crates/artemis-core/src/contracts/lib/solmate"]
	path = crates/artemis-core/src/contracts/lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "crates/artemis-core/src/contracts/lib/contracts"]
	path = crates/artemis-core/src/contracts/lib/contracts
	url = https://github.com/aerodrome-finance/contracts
[submodule "contracts/lib/v3-core"]
	path = contracts/lib/v3-core
	url = https://github.com/Uniswap/v3-core
[submodule "contracts/lib/aave-v3-core"]
	path = contracts/lib/aave-v3-core
	url = https://github.com/aave/aave-v3-core
[submodule "contracts/lib/foundry-devops"]
	path = contracts/lib/foundry-devops
	url = https://github.com/Cyfrin/foundry-devops
[submodule "contracts/lib/v3-periphery"]
	path = contracts/lib/v3-periphery
	url = https://github.com/Uniswap/v3-periphery
[submodule "contracts/lib/morpho-blue"]
	path = contracts/lib/morpho-blue
	url = https://github.com/morpho-org/morpho-blue
